# Node.js
node_modules/

# Змінні оточення (ТУТ ТВІЙ ТОКЕН, ЙОГО НЕ МОЖНА ПУШИТИ!)
.env

# База даних SQLite
prisma/dev.db
prisma/dev.db-journal
/.vs/WorkoutDiaryBot/CopilotIndices/17.14.1577.30250
/.vs/WorkoutDiaryBot/FileContentIndex
# Visual Studio
.vs/
obj/
bin/
.vscode/